@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var i = 0;
}
@{
}


<form method="post" asp-action="Count" asp-controller="Home">
    <table>
        <tbody>
            <tr>
                <td>
                    Enter the number of bottles between 50 and 100:
                    <input type="number" min="50" max="100" name="Bottles">
                </td>
                <td>
                    <button type="submit" name="Count" value="Count">Count!</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>